{{define "footer"}}
<div class="footer">
	<div class="container">
		<div class="footer-content pull-left">
			<p>
				JustRead &mdash;
				<span class="text-muted">
					Beautify articles. 
				</span>
			</p>
		</div>
		<div class="footer-content pull-right">
			Built by 
			<a href="http://mpgarate.com" target="_blank">mpgarate</a>
			with the Mercury API. 
		</div>
	</div>
</div>
{{end}}
